body {
    margin: 0;
}

header {
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    border-bottom: 2px solid black;
}

nav {
    display: flex;
    gap: 20px
}

nav > button {
    background: lightblue;
    border: 2px solid black;
    border-radius: 10px 10px 0 0;
    margin-bottom: -2px;
    padding: 10px 20px;
}

#home {
    border-bottom: none;
}

#content {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    width: min(80%, 700px);;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 0;
}

img {
    width: min(60%, 500px);
    height: auto;
    border-radius: 10px;
}